<footer class='bg-dark'>
  <div class='container pb-1 pb-lg-5'>
    <div class='row content-space-t-2'>
      <div class='col-lg-3 mb-7 mb-lg-0'>
        <!-- Logo -->
        <div class='mb-5'>
          <a class='navbar-brand' href='/index.html' aria-label='Space'>
            <img
              class='navbar-brand-logo'
              src='/svg/logos/logo-white.svg'
              alt='Image Description'
            />
          </a>
        </div>
        <!-- End Logo -->

      </div>
      <!-- End Col -->

      <div class='col-sm mb-7 mb-sm-0'>
        <h5 class='text-white mb-3'>Documentación</h5>

        <!-- List -->
        <ul class='list-unstyled list-py-1 mb-0'>
          <li><a class='link-sm link-light' href='/v1/terms_of_use'>Términos y
              Condiciones</a></li>
          {{! <li><a class='link-sm link-light' href='/v1/privacy-policy'>Política
              de privacidad</a></li> }}
          <li><a
              class='link-sm link-light'
              href='https://github.com/clair-beep/Prox-Ingredients#readme'
            >API Docs</a></li>
          <li><a
              class='link-sm link-light'
              href='https://forms.gle/YuTQpijcH35DtENb9'
            >Petición de Funcionalidades</a></li>

        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->

      <div class='col-sm'>
        <h5 class='text-white mb-3'>Recursos</h5>

        <!-- List -->
        <ul class='list-unstyled list-py-1 mb-5'>
          <li><a
              class='link-sm link-light'
              href='https://forms.gle/CLKVx48dCN2vDyVHA'
            ><i class='bi-question-circle-fill me-1'></i>
              Soporte</a></li>
          <li><a class='link-sm link-light' href='#'><i
                class='bi-person-circle me-1'
              ></i>
              Tu cuenta</a></li>
        </ul>
        <!-- End List -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->

    <div class='border-top border-white-10 my-7'></div>

    <div class='row mb-7'>
      <div class='col-sm mb-3 mb-sm-0'>
        <!-- Socials -->
        <ul class='list-inline list-separator list-separator-light mb-0'>
          <li class='list-inline-item'>
            <a class='link-sm link-light' href='/v1/privacy-policy'>Política de
              privacidad</a>
          </li>
          <li class='list-inline-item'>
            <a class='link-sm link-light' href='/v1/terms_of_use'>Términos y
              Condiciones</a>
          </li>
        </ul>
        <!-- End Socials -->
      </div>

      <div class='col-sm-auto'>
        <!-- Socials -->
        <ul class='list-inline mb-0'>

          <li class='list-inline-item'>
            <a class='btn btn-soft-light btn-xs btn-icon' href='#'>
              <i class='bi-github'></i>
            </a>
          </li>

          <li class='list-inline-item'>
            <!-- Button Group -->
            <div class='btn-group'>
              <button
                type='button'
                class='btn btn-soft-light btn-xs dropdown-toggle'
                id='footerSelectLanguage'
                data-bs-toggle='dropdown'
                aria-expanded='false'
                data-bs-dropdown-animation
              >
                <span class='d-flex align-items-center'>
                  <img
                    class='avatar avatar-xss avatar-circle me-2'
                    src='/svg/flags/1x1/es.svg'
                    alt='Image description'
                    width='16'
                  />
                  <span>Español</span>
                </span>
              </button>

              <div class='dropdown-menu' aria-labelledby='footerSelectLanguage'>
                <a
                  class='dropdown-item d-flex align-items-center active'
                  href='/'
                >
                  <img
                    class='avatar avatar-xss avatar-circle me-2'
                    src='/svg/flags/1x1/es.svg'
                    alt='Image description'
                    width='16'
                  />
                  <span>Español</span>
                </a>
                <a class='dropdown-item d-flex align-items-center' href='#'>
                  <img
                    class='avatar avatar-xss avatar-circle me-2'
                    src='/svg/flags/1x1/us.svg'
                    alt='Image description'
                    width='16'
                  />
                  <span>English (US)</span>
                </a>
              </div>
            </div>
            <!-- End Button Group -->
          </li>
        </ul>
        <!-- End Socials -->
      </div>
    </div>

    <!-- Copyright -->
    <div class='w-md-85 text-lg-center mx-lg-auto'>
      <p class='text-white-50 small'>&copy; Prox. 2022 Todos los derechos
        reservados</p>
    </div>
    <!-- End Copyright -->
  </div>
</footer>

<!-- JS Global Compulsory @@deleteLine:build -->
<script src='/dist/js/bootstrap.bundle.min.js'></script>
<script src='/js/script.js'></script>