  <!-- navigation -->
<header id="header" class="navbar navbar-expand-lg navbar-end navbar-light bg-white">


  <div class="container">
    <nav class="navbar-nav-wrap">
      <!-- Default Logo -->
      <a class="navbar-brand" href="@@autopath/demo-app-marketplace/index.html" aria-label="Front">
        <img class="navbar-brand-logo" src="/svg/logos/logo.svg" alt="Logo">
      </a>
      <!-- End Default Logo -->

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-default">
          <i class="bi-list"></i>
        </span>
        <span class="navbar-toggler-toggled">
          <i class="bi-x"></i>
        </span>
      </button>
      <!-- End Toggler -->
      
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link @@if(link=='index.html'){active}" href="/v1">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link @@if(link=='app-overview.html'){active}" href="/v1">Descripción de Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link @@if(link=='search-results.html'){active}" href="/v1/search">Buscador </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary btn-transition" href="/v1">Añadir un Nuevo Producto</a>
          </li>
        </ul>
      </div>
      <!-- End Collapse -->
    </nav>
  </div>
</header>
