<!DOCTYPE html>
<html lang="en">

<head>
  <!--  Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>App Marketplace | Front - Multipurpose Responsive Template</title>
  
  <!-- Google-fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/font/bootstrap-icons.css">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="/css/theme.css">
  </head>

<body>
  {{> _header}}

  {{> _navbar}}

    {{{body}}}
    
  {{> _footer}}

</body>
</html>