<div class='container content-space-1 content-space-lg-2'>
  <div class='w-lg-75 mx-lg-auto'>
    <div class='docs-page-header'>
      <div class='row align-items-center'>
        <div class='col-sm'>
          <h1 class='docs-page-header-title'>Terms of Use</h1>
        </div>
      </div>
    </div>
    <h2>Introduction</h2>
    <p>Welcome to Prox! These Terms of Use govern your access to and use of the
      Prox webProx, located at www.prox.com (the "Prox"), which is owned and
      operated by [Marie Claire] . By accessing or using the Prox, you agree to
      be bound by these Terms of Use and our Privacy Policy, which is
      incorporated into these Terms of Use by reference. If you do not agree to
      these Terms of Use, you may not use the Prox.</p>

    <h2>Personal Information</h2>
    <p>We do not collect any personal information from users of the Prox. Your
      privacy is important to us, and we are committed to protecting your
      personal information in accordance with our Privacy Policy.</p>

    <h2>Newsletters</h2>
    <p>We do not send newsletters to users of the Prox. However, we may send you
      administrative messages regarding the Prox, such as updates to our Terms
      of Use or Privacy Policy.</p>

    <h2>Tracking Solutions</h2>
    <p>We do not use tracking solutions to measure your use of the Prox.
      However, we do use retargeting for advertising purposes.</p>

    <h2>Advertising</h2>
    <p>We do not display ads on the Prox, and we do not have Facebook Pixel
      installed.</p>

    <h2>Age Restrictions</h2>
    <p>The Prox is offered for use to users under 13 years of age. If you are
      under 13, you may not use the Prox.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions or concerns about these Terms of Use or the
      Prox, please contact us at
      <a
        href='https://docs.google.com/forms/d/e/1FAIpQLSdBg5AZXK0YWgLKIvG0PjEn0QAg4kxCsVqIvhw2H-DcR0Lc-A/viewform'
      >https://docs.google.com/forms/d/e/1FAIpQLSdBg5AZXK0YWgLKIvG0PjEn0QAg4kxCsVqIvhw2H-DcR0Lc-A/viewform</a>.</p>

    <h2>Payments</h2>
    <p>We do not accept any payments through the Prox.</p>
  </div>
</div>